<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS测试</title>
    <script src="js/angular.min.js"></script>
    <script>

        //定义模块
        //参数1：模块的名称要与ng-app中的一致
        //参数2：如果需要加载其它模块的话；那么在数组里面添加模块的名称即可
        //如果没有需要加载则也要保留空数组
        var app = angular.module("app", []);

        //定义控制器
        //参数1：处理器控制器名称；要与ng-controller
        app.controller("myController", function ($scope) {

            //定义方法；只要在$scope中的任何内容都可以在angularJS的指令或插值中使用
            $scope.z = "";
            $scope.add = function () {
                $scope.z = parseInt($scope.x) + parseInt($scope.y);

            };
        });
    </script>
</head>
<body ng-app="app" ng-controller="myController">
x：<input ng-model="x"><br>
y：<input ng-model="y"><br>
<button ng-click="add()">点击进行计算</button><br>

x+y={{z}}
</body>
</html>